.*
!.gitignore
!.travis.yml

*.cache
*.global
*.la
*.lo
*.loT

config*
!config.m4
!config.w32

ac*.m4
build
install-sh
libtool
ltmain.sh
Makefile*
modules
missing
mkinstalldirs
run-*

tests/*.diff
tests/*.exp
tests/*.log
tests/*.mem
tests/*.out
tests/*.php
tests/*.sh
